:root {
	--color-rood:#D2060D;
	--color-grijs:#333F48;
	--color-blauw:#168FC3;
	--color-oranje: #FFA776;
	--color-background-body:#FCFCFC;
	--color-background-tekst:white;
	--color-text-wit:white;
	--color-insta-button:#bebebe;
	--color-border:#E7E7E7;
	--color-body-gradient:#F4F4F4;
	--background-image-gradient: linear-gradient(#F4F4F4 0px, rgba(252, 252, 252, 0) 200px);
}

@media (prefers-color-scheme: dark){
	:root {
	--color-rood:#D2060D;
	--color-grijs:white;
	--color-blauw:#168FC3;
	--color-oranje: #FFA776;
	--color-background-body:black;
	--color-background-tekst:#333F48;
	--color-text-wit:white;
	--color-insta-button:#606060;
	--background-image-gradient: linear-gradient(#1a1a1a 0px, rgba(26, 26, 26, 0) 200px);
	.serveren{
		opacity: 0.8;
	}
}
}

*::selection{
	background: var(--color-rood);
	color: var(--color-text-wit);
}


*, *::after, *::before {
  box-sizing:border-box; 
}

.language-switcher {
    position: relative; 
}

.language-switcher button {
	background: transparent;
    border: none;
    color:var(--color-grijs);
    cursor: pointer;
    display: block;
    font-family: brandon-grotesque, sans-serif;
    font-size: 0.8125rem;
    font-weight: 900;
    letter-spacing: 1.42px;
    padding: 5px 8px;
    position: relative;
    text-transform: uppercase;
    transition: opacity 0.2s ease;
	z-index: 5;
}

.language-switcher svg {
    transition: transform 0.2s ease;
}

.language-switcher button[aria-expanded="true"] svg {
    transform: rotate(180deg);
}

.language-switcher ul {
    position: absolute;
    top: 1.5em; 
    left: 0;
    background: var(--color-background-tekst);
    border: 1px solid #ddd;
    border-radius: 0.3rem;
    box-shadow: 0 5px 15px rgba(0,0,0,0.15);
    list-style: none;
    padding: 0.5rem 0;
    margin: 0;
    width: 10em;
    z-index: 4; 
}

.language-switcher li a {
  	padding: 0.5rem 1rem;
	border-bottom: 1px solid rgba(151, 151, 151, 0.22);
    color: var(--color-grijs);
    display: block;
    font-family: brandon-grotesque, sans-serif;
    font-size: 0.75rem;
    font-weight: 700;
    letter-spacing: 1.25px;
    line-height: 1;
    text-decoration: none;
    text-transform: uppercase;
    white-space: nowrap;
}

.language-switcher li a:hover {
    color: var(--color-rood);
	font-size: 1em;
	padding-left: 0.4rem;
}


/**************/
/* fonds */
/**************/

p{
	font-family: omnes-pro, sans-serif;
    font-size: 1rem;
    line-height: 1.4;
	color: var(--color-grijs);
}

h1{
	color: var(--color-rood);
    font-family: brandon-grotesque, sans-serif;
    font-size: 2rem;
    font-style: normal;
    font-weight: 900;
    letter-spacing: 2px;
    line-height: 1;
    margin: 0 auto;
    max-width: 690px;
    text-transform: uppercase;
}

h2{
    font-family: brandon-grotesque, sans-serif;
    font-size: 1.25rem;
    font-weight: 900;
    letter-spacing: 1.3px;
    line-height: 1.15;
    margin: 0 0 0.9rem;
    text-transform: uppercase;
}

a{
    font-family: brandon-grotesque, sans-serif;
    font-size: 0.75rem;
    font-weight: 1000;
    letter-spacing: 1.3px;
    line-height: 1.15;
    margin: 0 0 0.9rem;
    text-transform: uppercase;
}

h3{
	color: var(--color-grijs);
    font-family: brandon-grotesque, sans-serif;
    font-size: 0.75rem;
    font-weight: 900;
    letter-spacing: 2px;
    margin: 0 0 10px;
    text-transform: uppercase;
}

/**************/
/* einde fonds */
/**************/

li{
	list-style-type: none;
	text-decoration-line: none;
}

body{
	margin: 0em;
	background-color: var(--color-background-body);
}

header{
	width: 100%;
	z-index: 999;
}

.menu-button{
	background: none;
	border: none;
	color: var(--color-rood);
	font-family: brandon-grotesque, sans-serif;
    font-size: 0.75rem;
    font-weight: 1000;
    letter-spacing: 1.3px;
    line-height: 1.15;
    text-transform: uppercase;
}

header p{
	color: var(--color-grijs);
	 font-family: brandon-grotesque, sans-serif;
    font-size: 0.75rem;
    font-weight: 1000;
    letter-spacing: 1.3px;
    line-height: 1.15;
    margin: 0 0 0.9rem;
    text-transform: uppercase;
}

header.open {
    position: fixed;
}

.navigatie{
	position: absolute;
	top: 0;
	z-index: 20;
	display: flex;
	flex-direction: row;
	justify-content:space-between;
	align-items: center;
	padding: 1em;
	margin-right: 1em;
	min-height: 60px;
	width: 100%;
	background-color: var(--color-background-body);
}


header img, footer img{
	height: 3.8em;
	width: 8.5em;
}

nav {
	background-color: var(--color-rood);
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    height: 103vh; 
    z-index: 10;
    padding: 1em;
    overflow-y: auto; 
    transform: translateY(-100%);
    transition: transform 0.4s ease-in-out;
	margin-top: 10vh;
}

header.open nav {
    transform: translateY(0);
}

nav ul{
	display: flex;
	flex-direction: column;
	align-items: center;
	padding-left: 0;
	border: solid white;
	border-top: none;
}

nav li{
	list-style-type: none;
	display: flex;
	z-index: 10;
	padding: 0.8em;
}  

nav a{
	color: #fff;
    display: inline-block;
    font-family: brandon-grotesque, sans-serif;
    font-size: 1rem;
    font-weight: 900;
    letter-spacing: 1.75px;
    padding: 0.5em 0;
    position: relative;
    text-decoration: none;
    text-transform: uppercase;
}

nav a {
    position: relative;
    display: inline-block;       /* zorgt dat ::after exact de breedte van de tekst heeft */
    padding-bottom: 0.5em;         /* ruimte voor de svg-lijn */
}

nav a::after {
    content: "";
    position: absolute;
    bottom: -0.5em;
    left: 0;
    height: 6px;                 /* hoogte van je svg */
    width: 100%;                 /* exact de breedte van de tekst */
    background-image: url("../images/border_lijn.svg");
    background-repeat: no-repeat;
    background-size: 100% 100%;
    transform: scaleX(0);        /* lijn begint onzichtbaar */
    transform-origin: left;      /* animatie begint links */
    transition: transform 0.3s ease;
}

nav a:hover::after {
    transform: scaleX(1);        /* lijn groeit van links naar rechts */
}




/***************/
/* Introductie */
/***************/

.intro{
	margin:1.5em;
	margin-top: 0em;
	background-color: var(--color-background-tekst);
	box-shadow: 0 5px 20px rgba(75, 75, 75, 0.08);
}

.intro p{
	color: var(--color-grijs);
	padding: 1.2em;
	margin-top: 0em;
}

/*********/
/* Video */
/*********/

.introVideo {
position: relative;
  width: 100%;
  aspect-ratio: 1 / 1; 
  overflow: hidden; 
}

.introVideo video{
  position: absolute;
  top: 50%;
  left: 50%;
  width: 100%;
  height: 100%;
  object-fit: cover;
  transform: translate(-50%, -50%);
  z-index: 0;  
  margin: 0.5em;
}

.videoContent {
  position: absolute;
  bottom: 10%;        
  left: 50%;
  transform: translateX(-50%);
  z-index: 2;          
  text-align: center;
  color: var(--color-text-wit);
  width: 90%;
}

.videoContent h1{
	color: var(--color-text-wit);
    display: block;
    font-family: brandon-grotesque, sans-serif;
    font-size: 2.25rem;
    font-weight: 900;
    letter-spacing: 2.89px;
    line-height: 1;
    text-transform: uppercase;
	text-align: left;
	margin-bottom: 0em;
}

.videoContent h2{
	color:var(--color-text-wit);
    display: block;
    font-family: flood-std, sans-serif;
    font-size: 2.25rem;
    font-weight: 400;
    letter-spacing: -2px;
    line-height: 1;
	text-align: left;
}
/***************/
/* einde Video */
/***************/

/* buttons */

.intro a, .flesjes a, .aporoBlok a{
	background-color:var(--color-rood);
	text-decoration: none;
	color: var(--color-text-wit);
	padding: 1em;
	border-radius: 0.5em;
	width: 11em;
} 


.intro a::before, .flesjes a::before, .aporoBlok a::before{
	content: "";
    display: inline-block;
    width: 1em;    
    height: 1em;
	margin-right: 0.5em;
    background-image: url("../images/pijl.svg");
    background-size: contain; 
    background-repeat: no-repeat;
}

/* buttons */


.intro a{
	box-shadow: 0 7px 20px 0 rgba(97, 0, 3, 0.28);
	margin-left: 1.5em;
}

/*********************/
/* einde introductie */
/*********************/

.glas {
	display: flex;
	flex-direction: row;
	justify-content: end;
	margin-right: 1em;
	margin-top: 4em;
 } 

.glas img:first-of-type{
	width: 10em;
	height: 13.5em;
}
.glas img:last-of-type{
	width: 5em;
	height: 5em;
	margin-top: 4em;
	margin-left: 0.4em;
}

/***********/
/* flesjes */
/***********/

.alleFlesjes{
	padding: 0.8em;
	background-image: var(--background-image-gradient);
}

.fles1, .fles2, .fles3, .fles4{
	width: 7.5em;
	height: 27em;
	transition: transform 0.6s ease;
}

.fles1, .fles3 {
    transform: rotate(6deg);
}

.fles2, .fles4 {
    transform: rotate(-6deg);
}

.fles1:hover, .fles2:hover, .fles3:hover, .fles4:hover{
    transform: rotate(0deg);
}

.flesjes{
	overflow: hidden;
	display: flex;
	flex-direction: row;
	align-items: center;
	gap: 15px;
}

section.flesjes:nth-of-type(even) img{
  order: -1;
}

.flesje1 h2{
	color: var(--color-rood);
}

.flesje1 a{
	background: var(--color-rood);
    box-shadow: 0 7px 20px 0 rgba(97, 0, 3, 0.28);
}


.flesje2 h2{
	color: var(--color-blauw);
}

.flesje2 a{
	background-color:var(--color-blauw);
	box-shadow: 0 7px 20px 0 rgba(22, 143, 195, 0.13);
}

.flesje2 ::selection{
	background: var(--color-blauw);
	color: var(--color-text-wit);
}

.flesje3 h2, .flesje4 h2{
	color: var(--color-oranje);
}

.flesje3 a, .flesje4 a{
	background: var(--color-oranje); 
	box-shadow: 0 7px 20px 0 rgba(255, 167, 118, 0.13);
}

.flesje3 ::selection, .flesje4 ::selection{
	background: var(--color-oranje);
	color: var(--color-text-wit);
}



.flesjes p{
	color: var(--color-grijs);
    font-family: omnes-pro, sans-serif;
    font-size: 0.875rem;
    font-style: normal;
    font-weight: 400;
    letter-spacing: -0.1px;
    line-height: 1.4;
    margin-top: 0em;
}


.fles1, .fles3 {
    transform: rotate(6deg);
}

.OnTheRocks{
	display: flex;
	flex-direction: column;
	padding-left: 1em;
}

.OnTheRocks h3{
 	order: -1;
}

/*********************/
/* aporo o'clock*/
/*********************/

.aporoHeading{
	margin-top: 10em;
	text-align: center;
	color:var(--color-grijs);
}

.aporo{
	padding: 1em;
	padding-bottom: 0em;
}

.aporo img,.cocktailCarousel li img, .instaCarousel li img{
	width: 100%;

} 

.aporo a{
	position: relative;
	top: 2em;
	left: -1em;
    box-shadow: 0 7px 20px 0 rgba(97, 0, 3, 0.28);
	margin-left: 1.5em;
}
	
.aporoBlok{
	position: relative;
	top: -4em;
	margin: 0em 0.8em 0em 0.8em;
	padding: 1.2em;
	background-color: var(--color-background-tekst);
	box-shadow: 0 5px 20px rgba(75, 75, 75, 0.08);
	border-radius: 0.2em;
}

.aporoBlok h2{
	color: var(--color-rood);
}

/************************/
/* cocktails & carousels*/
/************************/

.cocktailCarousel{
	display: flex;
	flex-direction: column;
	padding-left: 1em;
	position: relative;
	z-index: 0;
}

.cocktailButtons {
    position: absolute;
    top: 30%;
    left: 0;
    right: 0;
    display: flex;
    align-items: center; 
    padding: 0 2rem;
    transform: translateY(-50%); 
	z-index: 100;
}

.cocktailCarousel button{
	width: 3.5em;
  	height: 3.5em;
  	border-radius: 50%;
	border: none;
	background-color:var(--color-background-tekst);
	box-shadow: 0 9px 18px 0 rgba(0, 0, 0, 0.16);
	margin-right: 0.5em;
}

.vorige::before{
	content: "";
    display: inline-block;
    width: 1em;    
    height: 1em;
    background-image: url("../images/pijl_rood.svg");
    background-size: contain; 
    background-repeat: no-repeat;
	align-items: center;
}

.volgende::before{
	content: "";
    display: inline-block;
    width: 1em;    
    height: 1em;
    background-image: url("../images/pijl_rood\ kopie.svg");
    background-size: contain; 
    background-repeat: no-repeat;
	align-items: center;
}

.cocktailCarousel h3{
	color: var(--color-rood);
	font-family: brandon-grotesque, sans-serif;
    font-size: 1rem;
    font-weight: 900;
    letter-spacing: 1px;
    line-height: 1.3;
    margin: 0 0 5px;
    text-transform: uppercase;
	display: flex;
	order: -1;
}

.cocktailCarousel h2{
	color: var(--color-grijs);
    font-family: flood-std, sans-serif;
    font-size: 2.25rem;
    font-weight: 400;
    letter-spacing: -2px;
    line-height: 1;
}

.cocktailCarousel li h4{
	color: var(--color-text-wit);
	font-family: brandon-grotesque, sans-serif;
    font-size: 1.4rem;
    font-style: normal;
    font-weight: 900;
    letter-spacing: 2px;
    line-height: 1;
    text-transform: uppercase;

    z-index: 3;
	position: relative;
	top: -18%;
	text-align: center;
}

.cocktailCarousel li p{
	color:var(--color-text-wit);
	z-index: 3;
	position: relative;
	top: -23%;
	text-align: center;
}

.cocktailCarousel p{
	padding-right: 1em;
	margin-top: 0em;
}
	
.cocktailCarousel ul{
	display: flex;
	height: auto;
	width: 100%;
	gap: 1em;
	padding-left: 0em;
	padding-right: 1em;
  	overflow-x: scroll;
  	scroll-snap-type: x mandatory;
	scroll-behavior: smooth;
}

.cocktailCarousel li{
	flex: 0 0 80%;
  	scroll-snap-align: center;
}

/**********************/
/* instagram carousel */
/**********************/

.instagram{
	display: flex;
	flex-direction: row;
	text-align: center;
	align-items: center;
}

.instagram img{
	width: 1.5em;
	height: 1.5em;
	margin: 1.5em
}

.instagram p{
    border-left: 1px solid #DACCCC;
    color: var(--color-grijs);
    font-family: brandon-grotesque, sans-serif;
    font-style: normal;
    font-weight: 900;
    font-size: 0.8125rem;
    letter-spacing: 1.13px;
    line-height: 1;
    padding: 17px 0 15px 10px;
    text-decoration: none;
    text-transform: uppercase;
}

.instaCarousel ul{
	padding-left: 1em;
	padding-right: 1em;
	display: flex;
	height: auto;
	width: 100%;
	gap: 1.5em;
  	overflow-x: scroll;
  	scroll-snap-type: x mandatory;
	scroll-behavior: smooth;
}

.instaCarousel li{
  	scroll-snap-align: center;
}

.instaCarousel li img{
	height: 11em;
	width: 9em;
}

.instaCarousel button{
	width: 2.5em;
  	height: 2.5em;
	border: none;
	margin-right: 0.5em;
	position: relative;
    border-radius: 50%;
    background-color: var(--color-insta-button);
}

.vorige2::before{
	content: "";
    display: inline-block;
    width: 1em;    
    height: 1em;
    background-image: url("../images/pijl_grijs_links.svg");
    background-size: contain; 
    background-repeat: no-repeat;
}

.volgende2::before{
	content: "";
    display: inline-block;
    width: 1em;    
    height: 1em;
    background-image: url("../images/pijl_grijs.svg");
    background-size: contain; 
    background-repeat: no-repeat;
	align-items: center;
}

.instaKnoppen{
	position: relative;
    display: flex;
    justify-content: center; 
    padding: 0 2rem;
	z-index: 100;
}


/**********/
/* footer */
/**********/

footer{
	display: flex;
	flex-direction: column;
	text-align: center;
	align-items: center;
	margin-top: 6em;
}

footer a{
	text-decoration: none;
	color: var(--color-rood);
	border-radius: 0.5em;
    font-family: "brandon-grotesque", sans-serif;
	font-weight: 700;
	font-style: normal;
    font-size: 0.8125rem;
    letter-spacing: 1.42px;
    line-height: 2.5;
    text-transform: uppercase;
	position: relative;
}

footer a::after {
    content: "";
    position: absolute;
    bottom: -0.5em;
    left: 0;
    height: 6px;               
    width: 100%;               
    background-image: url("../images/border_lijn_rood.svg");
    background-repeat: no-repeat;
    background-size: 100% 100%;
    transform: scaleX(0);       
    transform-origin: left;     
    transition: transform 0.3s ease;
}

footer a:hover::after {
    transform: scaleX(1);      
}


footer h2{
	color: var(--color-grijs);
    font-family: "brandon-grotesque", sans-serif;
	font-weight: 700;
	font-style: normal;
    font-size: 0.8125rem;
    letter-spacing: 1px;
    line-height: 1.35;
    text-transform: uppercase;
	padding-top: 1em;
}

 footer section{
	border-top: solid;
	border-color: var(--color-border);
	width: 95%;
	margin-top: 1em;
 }

 footer ul{
	padding-left: 0em;
 }

/****************/
/* tweede pagina*/
/****************/

.liefmansGlas{
	width: 9em;
	height: 13.5em;
	z-index: 4;
	position: relative;
	left: 12%;
}

.fruitesseFlesje{
	width: 6.5em;
	height: 24em;
	position: relative;
	left: 8%;
}

.onTheRocksDetail {
    margin: 1em;
    padding-top: 10em;
    position: relative;
    z-index: 10;
}

.glasEnFlesje::before {
    content: "";
    position: absolute;
    inset: 0;
    left: -1em; 
    background-image: url('../images/strepen.svg');
    background-repeat: no-repeat;
    background-size: cover; 
    background-position: center;
    z-index: -1;
}

.imgStrepen {
    position: relative;
	margin-left: -0.5em;
}

.imgStrepen::before {
    content: "";
    position: absolute;
    inset: 0;
	left: -1em;
    background-image: url('../images/strepen2.svg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    z-index: 2; 
}
 /* voor het verbeteren van de code van de before  */


.blijeMensen {
    width: 100%;
    height: auto;
	padding-right: 0.5em;
}

.onTheRocksDetail{
	margin-top: 0;
}

.onTheRocksDetail div{
	display: flex;
	flex-direction: row;
	align-items: flex-end;
	position: relative;
	margin-right: -1em;
}

.onTheRocksDetail h1{
	margin-top: 1em;
}

.onTheRocksDetail p::before{
	background-image: url("../images/border_lijn.svg");
}

.serveren{
	padding-left: 0em;
	opacity: 0.5;
}

.serveren img{
	width: 100%;
	height: auto;
	padding-left: 1em;
	padding-right: 1em;
	clip-path: polygon(0 15%, 100% 0, 100% 85%, 0 100%);
    margin-top: -10%;
}

.OnTheRocksButtons {
    position: absolute;
    top: 28%;
    left: 0;
    right: 0;
    display: flex;
    align-items: center; 
    padding: 0 2rem;
    transform: translateY(-50%); 
	z-index: 100;
}

.inschenken {
    margin: 1em;
    position: relative;
    z-index: 1;
}

.inschenken h2{
	color: var(--color-grijs);
    font-family: flood-std, sans-serif;
    font-size: 2.25rem;
    font-weight: 400;
    letter-spacing: -2px;
    line-height: 1;
}

.inschenken h3{
	color: var(--color-rood);
    font-family: brandon-grotesque, sans-serif;
    font-size: 1rem;
    font-weight: 900;
    letter-spacing: 1px;
    line-height: 1.3;
    margin: 0 0 5px;
    text-transform: uppercase;
	order: -1;
}

.inschenken p{  
	color: var(--color-grijs);
    font-family: omnes-pro, sans-serif;
    font-size: 0.9375rem;
    font-style: normal;
    font-weight: 400;
    line-height: 1.5rem;
    margin: 0;
}

.footer2{
	margin-top: 1em;
}
