/**************/
/* CSS REMEDY */
/**************/
*, *::after, *::before {
  box-sizing:border-box;  
}


/**************/
/* fonds */
/**************/

p{
	font-family: omnes-pro, sans-serif;
    font-size: 1rem;
    line-height: 1.4;
}

h1{
	color: var(--color-text);
    font-family: brandon-grotesque, sans-serif;
    font-size: 2rem;
    font-style: normal;
    font-weight: 900;
    letter-spacing: 2px;
    line-height: 1;
    margin: 0 auto;
    max-width: 690px;
    text-transform: uppercase;
}

h2{
    font-family: brandon-grotesque, sans-serif;
    font-size: 1.25rem;
    font-weight: 900;
    letter-spacing: 1.3px;
    line-height: 1.15;
    margin: 0 0 0.9rem;
    text-transform: uppercase;
}

a{
    font-family: brandon-grotesque, sans-serif;
    font-size: 0.75rem;
    font-weight: 1000;
    letter-spacing: 1.3px;
    line-height: 1.15;
    margin: 0 0 0.9rem;
    text-transform: uppercase;
}

h3{
	color: #333F48;
    font-family: brandon-grotesque, sans-serif;
    font-size: 0.75rem;
    font-weight: 900;
    letter-spacing: 2px;
    margin: 0 0 10px;
    text-transform: uppercase;
}

/**************/
/* einde fonds */
/**************/

li{
	list-style-type: none;
	text-decoration-line: none;
}

body{
	margin: 0em;
	background-color: #FCFCFC;
}

header{
	width: 100%;
	z-index: 999;
}

header button{
	background: none;
	border: none;
	color: #D2060D;
	 font-family: brandon-grotesque, sans-serif;
    font-size: 0.75rem;
    font-weight: 1000;
    letter-spacing: 1.3px;
    line-height: 1.15;
    margin: 0 0 0.9rem;
    text-transform: uppercase;
}

header p{
	color: #111;
	 font-family: brandon-grotesque, sans-serif;
    font-size: 0.75rem;
    font-weight: 1000;
    letter-spacing: 1.3px;
    line-height: 1.15;
    margin: 0 0 0.9rem;
    text-transform: uppercase;
}

header.open {
    position: fixed;
}

header div{
	position: absolute;
	z-index: 20;
	display: flex;
	flex-direction: row;
	justify-content:space-between;
	align-items: flex-end;
	padding: 1em;
	margin-right: 1em;
	min-height: 60px;
	width: 100%;
	background-color: #FCFCFC;
}

header img, footer img{
	height: 3.8em;
	width: 8.5em;
}

nav {
	background-color: #D2060D;
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    height: 103vh; 
    z-index: 10;
    padding: 1em;
    overflow-y: auto; 
    transform: translateY(-100%);
    transition: transform 0.4s ease-in-out;
	margin-top: 10vh;
}

header.open nav {
    transform: translateY(0);
}

nav ul{
	display: flex;
	flex-direction: column;
	align-items: center;
	padding-left: 0;
	border: solid white;
	border-top: none;
}

nav li{
	list-style-type: none;
	display: flex;
	z-index: 10;
	padding: 0.8em;
}  

nav a{
	color: #fff;
    display: inline-block;
    font-family: brandon-grotesque, sans-serif;
    font-size: 1rem;
    font-weight: 900;
    letter-spacing: 1.75px;
    padding: 7px 0;
    position: relative;
    text-decoration: none;
    text-transform: uppercase;

}


/***************/
/* Introductie */
/***************/

.intro{
	margin:1.5em;
	margin-top: 0em;
	background-color: white;
	box-shadow: 0 5px 20px rgba(75, 75, 75, 0.08);
}

.intro p{
	padding: 1.2em;
	margin-top: 0em;
}

/*********/
/* Video */
/*********/

.introVideo {
position: relative;
  width: 100%;
  aspect-ratio: 1 / 1; 
  overflow: hidden; 
}

.introVideo video{
  position: absolute;
  top: 50%;
  left: 50%;
  width: 100%;
  height: 100%;
  object-fit: cover;
  transform: translate(-50%, -50%);
  z-index: 0;  
  margin: 0.5em;
}

.videoContent {
  position: absolute;
  bottom: 10%;        
  left: 50%;
  transform: translateX(-50%);
  z-index: 2;          
  text-align: center;
  color: white;
  width: 90%;
}

.videoContent h1{
	color: #fff;
    display: block;
    font-family: brandon-grotesque, sans-serif;
    font-size: 2.25rem;
    font-weight: 900;
    letter-spacing: 2.89px;
    line-height: 1;
    text-transform: uppercase;
	text-align: left;
	margin-bottom: 0em;
}

.videoContent h2{
	color: #fff;
    display: block;
    font-family: flood-std, sans-serif;
    font-size: 2.25rem;
    font-weight: 400;
    letter-spacing: -2px;
    line-height: 1;
	text-align: left;
}
/***************/
/* einde Video */
/***************/

/* buttons */

.intro a, .flesjes a, .aporoBlok a{
	background-color:#D2060D;
	text-decoration: none;
	color: white;
	padding: 1em;
	border-radius: 0.5em;
	width: 11em;
} 


.intro a::before, .flesjes a::before, .aporoBlok a::before{
	content: "";
    display: inline-block;
    width: 1em;    
    height: 1em;
	margin-right: 0.5em;
    background-image: url("../images/pijl.svg");
    background-size: contain; 
    background-repeat: no-repeat;
}

/* buttons */


.intro a{
	box-shadow: 0 7px 20px 0 rgba(97, 0, 3, 0.28);
	margin-left: 1.5em;
}

/*********************/
/* einde introductie */
/*********************/

.glas {
	display: flex;
	flex-direction: row;
	justify-content: end;
	margin-right: 1em;
	margin-top: 4em;
 } 

.glas img:first-of-type{
	width: 10em;
	height: 13.5em;
}
.glas img:last-of-type{
	width: 5em;
	height: 5em;
	margin-top: 4em;
	margin-left: 0.4em;
}

/***********/
/* flesjes */
/***********/

.alleFlesjes{
	padding: 0.8em;
	background-image: linear-gradient(#F4F4F4 0px, rgba(252, 252, 252, 0) 200px);
}

.fles{
	width: 7.5em;
	height: 27em;
}

.flesjes{
	overflow: hidden;
	display: flex;
	flex-direction: row;
	align-items: center;
	gap: 15px;
}

section.flesjes:nth-of-type(even) img{
  order: -1;
}

.flesje1 h2{
	color: #D2060D;
}

.flesje1 a{
	background:  #D2060D;
    box-shadow: 0 7px 20px 0 rgba(97, 0, 3, 0.28);
}


.flesje2 h2{
	color: #168FC3;
}

.flesje2 a{
	background-color:#168FC3;
	box-shadow: 0 7px 20px 0 rgba(22, 143, 195, 0.13);
}

.flesje3 h2, .flesje4 h2{
	color:#FFA776;
}

.flesje3 a, .flesje4 a{
	background: #FFA776; 
	box-shadow: 0 7px 20px 0 rgba(255, 167, 118, 0.13);
}

.flesjes p{
	color: #333F48;
    font-family: omnes-pro, sans-serif;
    font-size: 0.875rem;
    font-style: normal;
    font-weight: 400;
    letter-spacing: -0.1px;
    line-height: 1.4;
    margin-top: 0em;
}

.flesjes img[alt="flesje-fruitesse"], img[alt="flesje-peach"]{
	transform: rotate(6deg);
}

img[alt="flesje-fruitesse0.0"], img[alt="flesje-peach0.0"]{
	transform: rotate(-6deg);
}

.OnTheRocks{
	display: flex;
	flex-direction: column;
	padding-left: 1em;
}

.OnTheRocks h3{
 	order: -1;
}

/*********************/
/* aporo o'clock*/
/*********************/

.aporoHeading{
	margin-top: 10em;
	text-align: center;
	color: #333F48;
}

.aporo{
	padding: 1em;
	padding-bottom: 0em;
}

.aporo img,.cocktailCarousel li img, .instaCarousel li img{
	width: 100%;

} 

.aporo a{
	position: relative;
	top: 2em;
	left: -1em;
    box-shadow: 0 7px 20px 0 rgba(97, 0, 3, 0.28);
	margin-left: 1.5em;
}
	
.aporoBlok{
	position: relative;
	top: -4em;
	margin: 0em 0.8em 0em 0.8em;
	padding: 1.2em;
	background-color: white;
	box-shadow: 0 5px 20px rgba(75, 75, 75, 0.08);
	border-radius: 0.2em;
}

.aporoBlok h2{
	color: #D2060D;
}

/************************/
/* cocktails & carousels*/
/************************/

.cocktailCarousel{
	padding-left: 1em;
	position: relative;
	z-index: 0;
}

.cocktailButtons {
    position: absolute;
    top: 32%;
    left: 0;
    right: 0;
    display: flex;
    align-items: center; 
    padding: 0 2rem;
    transform: translateY(-50%); 
	z-index: 100;
}

.cocktailCarousel button{
	width: 3.5em;
  	height: 3.5em;
  	border-radius: 50%;
	border: none;
	background-color:white;
	box-shadow: 0 9px 18px 0 rgba(0, 0, 0, 0.16);
	margin-right: 0.5em;
}

.vorige::before{
	content: "";
    display: inline-block;
    width: 1em;    
    height: 1em;
    background-image: url("../images/pijl_rood.svg");
    background-size: contain; 
    background-repeat: no-repeat;
	align-items: center;
}

.volgende::before{
	content: "";
    display: inline-block;
    width: 1em;    
    height: 1em;
    background-image: url("../images/pijl_rood\ kopie.svg");
    background-size: contain; 
    background-repeat: no-repeat;
	align-items: center;
}

.cocktailCarousel h3{
	color: #D2060D;
	font-family: brandon-grotesque, sans-serif;
    font-size: 1rem;
    font-weight: 900;
    letter-spacing: 1px;
    line-height: 1.3;
    margin: 0 0 5px;
    text-transform: uppercase;
	display: flex;
	order: -1;
}

.cocktailCarousel h2{
	color: #333E45;
    font-family: flood-std, sans-serif;
    font-size: 2.25rem;
    font-weight: 400;
    letter-spacing: -2px;
    line-height: 1;
}

.cocktailCarousel li h4{
	color: white;
	font-family: brandon-grotesque, sans-serif;
    font-size: 1.4rem;
    font-style: normal;
    font-weight: 900;
    letter-spacing: 2px;
    line-height: 1;
    text-transform: uppercase;

    z-index: 3;
	position: relative;
	top: -20%;
	text-align: center;
}

.cocktailCarousel p{
	padding-right: 1em;
	margin-bottom: 3em;
}
	
.cocktailCarousel ul{
	display: flex;
	height: auto;
	width: 100%;
	gap: 1em;
	padding-left: 0em;
  	overflow-x: scroll;
  	scroll-snap-type: x mandatory;
	scroll-behavior: smooth;
}

.cocktailCarousel li{
	flex: 0 0 80%;
  	scroll-snap-align: center;
}

/**********************/
/* instagram carousel */
/**********************/

.instagram{
	display: flex;
	flex-direction: row;
	text-align: center;
	align-items: center;
}

.instagram img{
	width: 1.5em;
	height: 1.5em;
	margin: 1.5em
}

.instagram p{
    border-left: 1px solid #DACCCC;
    color: #333F48;
    font-family: brandon-grotesque, sans-serif;
    font-style: normal;
    font-weight: 900;
    font-size: 0.8125rem;
    letter-spacing: 1.13px;
    line-height: 1;
    padding: 17px 0 15px 10px;
    text-decoration: none;
    text-transform: uppercase;
}

.instaCarousel ul{
	padding-left: 1em;
	display: flex;
	height: auto;
	width: 100%;
	gap: 1.5em;
  	overflow-x: scroll;
  	scroll-snap-type: x mandatory;
	scroll-behavior: smooth;
}

.instaCarousel li{
  	scroll-snap-align: center;
}

.instaCarousel li img{
	height: 11em;
	width: 9em;
}

.instaCarousel button{
	width: 2.5em;
  	height: 2.5em;
	border: none;
	margin-right: 0.5em;
	position: relative;
    border-radius: 50%;
    background-color: #bebebe;
}

.vorige2::before{
	content: "";
    display: inline-block;
    width: 1em;    
    height: 1em;
    background-image: url("../images/pijl_grijs_links.svg");
    background-size: contain; 
    background-repeat: no-repeat;
}

.volgende2::before{
	content: "";
    display: inline-block;
    width: 1em;    
    height: 1em;
    background-image: url("../images/pijl_grijs.svg");
    background-size: contain; 
    background-repeat: no-repeat;
	align-items: center;
}

.instaKnoppen{
	position: relative;
    display: flex;
    justify-content: center; 
    padding: 0 2rem;
	z-index: 100;
}


/**********/
/* footer */
/**********/

footer{
	display: flex;
	flex-direction: column;
	text-align: center;
	align-items: center;
	margin-top: 6em;
}

footer a{
	text-decoration: none;
	color: #D2060D;
	border-radius: 0.5em;
    font-family: "brandon-grotesque", sans-serif;
	font-weight: 700;
	font-style: normal;
    font-size: 0.8125rem;
    letter-spacing: 1.42px;
    line-height: 2.5;
    text-transform: uppercase;
}

footer h2{
	color: #333F48;
    font-family: "brandon-grotesque", sans-serif;
	font-weight: 700;
	font-style: normal;
    font-size: 0.8125rem;
    letter-spacing: 1px;
    line-height: 1.35;
    text-transform: uppercase;
	padding-top: 1em;
}

 footer section{
	border-top: solid;
	border-color: #E7E7E7;;
	width: 95%;
	margin-top: 1em;
 }

 footer ul{
	padding-left: 0em;
 }

/****************/
/* tweede pagina*/
/****************/

/* .onTheRocksDetail{
	margin-top: 5em;
} */

.liefmansGlas{
	width: 9em;
	height: 13.5em;
	z-index: 4;
	position: relative;
	left: 12%;
}

.fruitesseFlesje{
	width: 6.5em;
	height: 24em;
	position: relative;
	left: 8%;
}

.blijeMensen{
	width: 100%;
	height: auto;
}

.onTheRocksDetail{
	margin: 1em;
	padding-top: 10em;
}

.onTheRocksDetail div{
	display: flex;
	flex-direction: row;
	align-items: flex-end;
	position: relative;
}

.onTheRocksDetail h1{
	margin-top: 1em;
}

.onTheRocksDetail p::before{
	background-image: url("../images/border_lijn.svg");

}

.serveren{
	padding-left: 0em;
}
.serveren img{
	width: 100%;
	height: auto;
	padding-left: 1em;
	padding-right: 1em; 
}
.inschenken{
	margin: 1em;
}
.inschenken h2{
	color: #333E45;
    font-family: flood-std, sans-serif;
    font-size: 2.25rem;
    font-weight: 400;
    letter-spacing: -2px;
    line-height: 1;
}

.inschenken h3{
	color: #D2060D;
	
}


/*********************/
/* CUSTOM PROPERTIES */
/*********************/
:root {
	/* startje */
	--color-text:#D2060D;
	--color-background:#eee;
}


/****************/
/* JOUW STYLING */
/****************/

/* jouw code */

